footer {
    background-color: #C0C3FA;
    font-family: 'Nunito', sans-serif;
    color: #7C80F4;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    padding: 20px;
    text-align: center;
}

.footer-content img {
    width: 204px;
    height: 29px;
    margin-bottom: 10px;
}

.footer-content p {
    margin: 5px 0;
}
